@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

h1{
    color: black;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
}