@charset "UTF-8";

/*style para impressão*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1em;
}

menu{
    display: none;
}

article::after{
    content: 'Este artigo foi impresso através do site nhonho';
}