@charset "UTF-8";

:root{
    --cor1:#260801;
    --cor2:#8C704F;
    --cor3:#F2E6D0;
    --cor4:#BFA521;
    --cor5:#9FBFBF;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, var(--cor3), var(--cor5));
    }

    section#login{
        width: 80vw;
        height: 280px;
    }

    section#login>div#imagem{
        height: 100%;
        width: 30%;

        float: left;
    }

    section#login>div#formulario{
        width: 70%;

        float: right;
    }

    /*.campo input{
        width: 380px;
        transform: translate(7px, -9px);
    }*/
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, var(--cor3), var(--cor5));
    }

    section#login{
        width: 950px;
        height: 350px;
    }

    section#login>div#imagem{
        height: 100%;
        width: 50%;

        float: right;
    }

    section#login>div#formulario{
        width: 50%;

        float: left;
    }

    #formulario>h1{
        font-size: 2em;
    }

    #formulario>p{
        font-size: 1em;

        margin: 10px 0px;
    }
}