@charset "UTF-8";

/*Paleta de cores:
#260801 - Marrom escuro//
#8C704F - Bege//
#F2E6D0 - Bege claro
#BFA521 - Verde musgo
#9FBFBF - Azul pastel
*/

:root{
    --cor1:#260801;
    --cor2:#8C704F;
    --cor3:#F2E6D0;
    --cor4:#BFA521;
    --cor5:#9FBFBF;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    background-color: var(--cor3);

    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;

    position: relative;
}

#login{
    background-color: var(--cor5);
    overflow: hidden;

    width: 250px;
    height: 500px;

    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#imagem{
    background: var(--cor3) url(../images/pattern-building.jpg) no-repeat;
    background-size: cover;
    background-position: right center;

    height: 200px;

    display: block;
}

#formulario{
    display: block;

    padding: 10px;
}