@charset "UTF-8";
/*Demais mídias*/

/*Typical Device Breakpoints

telas pequenas: até 600px
celular: de 600px até 768px
tablet: 768px ate 992px
desktop: 992px até 1200px
telas grandes: acima de 1200px

*/
@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    body{
        background-image: url(../../images/back-tablet.jpg);
    }

    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP*/
    body{
        background-image: url(../../images/back-pc.jpg);
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width: 1200px) { /*TELAS GRANDES*/
    body{
        background-image: url(../../images/back-tv.jpg);
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}



@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 2px dotted black;
    }

    main::after{
        content: 'Esta impressão foi feita através do site blablabla...';
    }

    h1{
        text-shadow: none;
        color: black;
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}